<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.scss">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Hearts Connection</h1>
            <img src="assets/coraciones transparente fundin branco.png" alt="coracao" id="left-login-image">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1></h1>
                <div class="textfield">
                    <label for="usuario">Usuário:</label>
                    <input [(ngModel)]="requestLogin.login" type="text" name="usuario" placeholder="admin">
                </div>
                <div class="textfield">
                    <label for="senha">Senha:</label>
                    <input [(ngModel)]="requestLogin.password" type="password" name="senha" placeholder="*****">
                </div>
                <a>
                  <button class="btn-login" (click)="doLogin()">Login</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
